# API Configuration
PORT=8000

# Database
DATABASE_URL=postgresql://postgres:12345678@172.30.128.1:5432/entvas

# JWT Authentication
JWT_ISSUER_DOMAIN=joe-estrella.us.auth0.com
JWT_AUDIENCE=https://joe-estrella.us.auth0.com/api/v2/

# Webhook Configuration
WEBHOOK_API_KEY=entvas_webhook_secret_key_8797f88b5f2e10fbf09d7ef162ffc75b
